---
BasedOnStyle:  GNU

AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
  AcrossComments:  true
  AlignCompound:   true
AlignConsecutiveBitFields:
  AcrossComments:  true
  AlignCompound:   true
  PadOperators:    true
AlignConsecutiveDeclarations:
  AcrossComments:  true
  AlignCompound:   true
  PadOperators:    true
AlignConsecutiveMacros:
  AcrossComments:  true
  AlignCompound:   true
  PadOperators:    true
AlignConsecutiveShortCaseStatements:
  AcrossComments:  true
  AlignCaseColons: true
AlignEscapedNewlines: Left
# AllowBreakBeforeNoexceptSpecifier: OnlyWithParen  # clang-format18
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
# AllowShortCompoundRequirementOnASingleLine: true  # clang-format18
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
BinPackArguments: false
# BinPackParameters: false
BitFieldColonSpacing: After
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      true
  AfterControlStatement: Always
  AfterEnum:       false
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  AfterExternBlock: true
  BeforeCatch:     true
  BeforeElse:      true
  BeforeLambdaBody: false
  BeforeWhile:     true
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakAfterJavaFieldAnnotations: true
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
BreakStringLiterals: true
ColumnLimit:     100
ConstructorInitializerIndentWidth: 2
FixNamespaceComments: true
InsertNewlineAtEOF: true
InsertTrailingCommas: Wrapped
IntegerLiteralSeparator:
  Binary:          4
  BinaryMinDigits: 0
  Decimal:         4
  DecimalMinDigits: 0
  Hex:             4
  HexMinDigits:    0
JavaScriptQuotes: Single
KeepEmptyLinesAtEOF: true  # Up to MaxEmptyLinesToKeep
KeepEmptyLinesAtTheStartOfBlocks: false
PPIndentWidth:   2
PackConstructorInitializers: NextLineOnly
PointerAlignment: Right
ReferenceAlignment: Pointer
RemoveParentheses: MultipleParentheses
ShortNamespaceLines: 0
SpaceAfterCStyleCast: true
SpaceAroundPointerQualifiers: Before
SpaceBeforeCpp11BracedList: true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterForeachMacros: true
  AfterFunctionDefinitionName: false
  AfterFunctionDeclarationName: false
  AfterIfMacros:   true
  AfterOverloadedOperator: true
  # AfterPlacementOperatorStyle: Never  # clang-format18
  AfterRequiresInClause: true
  AfterRequiresInExpression: true
SpacesBeforeTrailingComments: 2
Standard:        c++17
TabWidth:        2
...
